body {
    margin: 0px;
    padding: 0px;
}

.header, .content {
    background-color: #1f2937;
}

h1 {
    margin: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 10px 32px;
    color: #f9faf8;
    font-weight: bold;
}

p {
    margin: 10px 0px;
}

/* Header */
#logo {
    width: 36px;
    height: auto;
    flex-shrink: 0;
    padding: 5px;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 8px 370px;
}

.header-title {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    align-content: center;
    margin-left: auto;
}

ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    gap: 1.5rem;
}

ul li a, 
.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Content/Hero Section */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 120px 0px;
}

#hero-image {
    width: 500px;
    height: 300px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-container {
   flex-basis: 500px;
}