body {
    margin: 0px;
    padding: 0px;
}

.header, .content {
    background-color: #1f2937;
}

h1 {
    margin: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 5px 20px;
    color: #f9faf8;
    font-weight: bold;
}

p {
    margin: 10px 0px;
}

/* Header */
#logo {
    width: 36px;
    height: auto;
    flex-shrink: 0;
    padding: 5px;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 8px 370px;
}

.header-title {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    align-content: center;
    margin-left: auto;
}

ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    gap: 1.5rem;
}

ul li a, 
.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Content/Hero Section */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 120px 0px;
}

#hero-image {
    width: 500px;
    height: 300px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-container {
   flex-basis: 500px;
}

/* Information Section */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 50px;
}

.info-images-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.image-box {
    flex-wrap: wrap;
    flex-basis: 30px;
}

.info-img {
    width: 200px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 8px;
    box-sizing: border-box;
}

#taycan {
    height: 136.25px;
}

/* Quotes Section */

.quotes-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    gap: 1rem;
    align-items: flex-end;
    padding: 150px 330px;
}

#reference {
    font-weight:bolder
}

#quotes {
    font-style: italic;
}

/* Ads Section */

.ads {
    display: flex;
    justify-content: center;
}

.ads-container .ads-right-container button {
    border: 2px solid #e5e7eb;
}

.ads-container {
    display: flex;
    gap: 1rem;
    background-color: #3882F6;
    padding: 15px 70px;
    border-radius: 8px;
    margin: 100px 0px;
}

.ads-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ads-left-container {
    padding: 20px;
}

.ads-header {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.ads-text {
    color: #e5e7eb;
    margin: 5px 0px;
}

/* Footer Section */

.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    height: 72px;
    justify-content: center;
    align-items: center;
}